services:
    ##########################################
    ## Kafka
    ##########################################
    kafka-ui:
        ports:
            - 9080:80
        environment:
            DYNAMIC_CONFIG_ENABLED: true
            KAFKA_CLUSTERS_0_NAME: local
            KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:29092
            KAFKA_CLUSTERS_0_METRICS_PORT: 9991
            # KAFKA_CLUSTERS_0_SCHEMAREGISTRY: http://schemaregistry:8085
            # KAFKA_CLUSTERS_0_KAFKACONNECT_0_NAME: first
            # KAFKA_CLUSTERS_0_KAFKACONNECT_0_ADDRESS: http://kafka-connect:8083

    zookeeper:
        environment:
            - ZOOKEEPER_SERVER_ID=1
            - ZOOKEEPER_CLIENT_PORT=2181
            - ZOOKEEPER_TICK_TIMES=2000
            - ZOOKEEPER_SYNC_LIMIT=2
            - KAFKA_OPTS=-Dzookeeper.4lw.commands.whitelist=ruok
        healthcheck:
          test: echo ruok | nc 127.0.0.1 2181 || exit -1
          interval: 10s
          timeout: 5s
          retries: 3
        ports:
            - 2181:2181
    kafka:
        ports:
            - 9092:9092
            - 29092:29092
        healthcheck:
            test: nc -z localhost 9092 || exit -1
            interval: 10s
            retries: 5
            start_period: 20s
        environment:
            KAFKA_BROKER_ID: 1
            KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
            KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092
            KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
            KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
            KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
            KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
            KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
            KAFKA_JMX_PORT: 9991

    # schemaregistry:
    #     ports:
    #         - 8085:8085
    #     environment:
    #         SCHEMA_REGISTRY_KAFKASTORE_BOOTSTRAP_SERVERS: PLAINTEXT://kafka:29092
    #         SCHEMA_REGISTRY_KAFKASTORE_SECURITY_PROTOCOL: PLAINTEXT
    #         SCHEMA_REGISTRY_HOST_NAME: schemaregistry
    #         SCHEMA_REGISTRY_LISTENERS: http://schemaregistry:8085

    #         SCHEMA_REGISTRY_SCHEMA_REGISTRY_INTER_INSTANCE_PROTOCOL: "http"
    #         SCHEMA_REGISTRY_LOG4J_ROOT_LOGLEVEL: INFO
    #         SCHEMA_REGISTRY_KAFKASTORE_TOPIC: _schemas

    # kafka-connect:
    #     ports:
    #         - 8083:8083
    #     environment:
    #         CONNECT_BOOTSTRAP_SERVERS: kafka:29092
    #         CONNECT_GROUP_ID: compose-connect-group
    #         CONNECT_CONFIG_STORAGE_TOPIC: _connect_configs
    #         CONNECT_CONFIG_STORAGE_REPLICATION_FACTOR: 1
    #         CONNECT_OFFSET_STORAGE_TOPIC: _connect_offset
    #         CONNECT_OFFSET_STORAGE_REPLICATION_FACTOR: 1
    #         CONNECT_STATUS_STORAGE_TOPIC: _connect_status
    #         CONNECT_STATUS_STORAGE_REPLICATION_FACTOR: 1
    #         CONNECT_KEY_CONVERTER: org.apache.kafka.connect.storage.StringConverter
    #         CONNECT_KEY_CONVERTER_SCHEMA_REGISTRY_URL: http://schemaregistry:8085
    #         CONNECT_VALUE_CONVERTER: org.apache.kafka.connect.storage.StringConverter
    #         CONNECT_VALUE_CONVERTER_SCHEMA_REGISTRY_URL: http://schemaregistry:8085
    #         CONNECT_INTERNAL_KEY_CONVERTER: org.apache.kafka.connect.json.JsonConverter
    #         CONNECT_INTERNAL_VALUE_CONVERTER: org.apache.kafka.connect.json.JsonConverter
    #         CONNECT_REST_ADVERTISED_HOST_NAME: kafka-connect
    #         CONNECT_PLUGIN_PATH: "/usr/share/java,/usr/share/confluent-hub-components"

    ##########################################
    ## Services
    ##########################################
    web-apigateway:
        environment:
            - ASPNETCORE_ENVIRONMENT=Development
            - ASPNETCORE_HTTP_PORTS=8080
            - Logging__Loglevel__Default=Debug
            - Logging__Loglevel__Microsoft.AspNetCore=Debug 
            - Jwt__Issuer=http://identity-api
            - Jwt__Audience=http://identity-api
            - Kestrel__Endpoints__HTTP__Url=http://0.0.0.0:80
            - Reverseproxy__Clusters__identity__Destinations__default__Address=http://identity-api
            - Urls__Identity=http://identity-api
            - Urls__GrpcIdentity=http://identity-api:81
        ports:
            - "5100:80"

    pg-eventstore-db:
        environment:
            - POSTGRES_DB=postgres
            - POSTGRES_PASSWORD=1234
        ports:
            - "5432:5432"

    # Identity
    identity-api:
        environment:
            - ASPNETCORE_ENVIRONMENT=Development
            - ASPNETCORE_HTTP_PORTS=8080
            - Logging__Loglevel__Default=Debug
            - Logging__Loglevel__Microsoft.AspNetCore=Debug 
            - Jwt__Issuer=http://identity-api
            - Jwt__Audience=http://identity-api
            - Kestrel__Endpoints__HTTP__Url=http://0.0.0.0:80
            - ConnectionStrings__Default=Server=indentity-db;Database=wksy.identity;User Id=root;Password=1234;
            - Kafka__ProducerConfig__BootstrapServers=kafka:29092 
            - Kafka__ConsumerConfig__BootstrapServers=kafka:29092 
            - PATH_BASE=/identity-api
        volumes:
            - ${APPDATA}/Microsoft/UserSecrets:/home/app/.microsoft/usersecrets:ro
        ports:
            - "5101:80"

    indentity-db:
        environment:
            MYSQL_ROOT_PASSWORD: 1234
        healthcheck:
            test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
            timeout: 20s
            retries: 5
        ports:
            - "5199:3306"

    # Product
    productaggregate-api:
        environment:
            - ASPNETCORE_ENVIRONMENT=Development
            - ASPNETCORE_HTTP_PORTS=8080
            - Kestrel__Endpoints__HTTP__Url=http://0.0.0.0:80
            - ProductDatabase__ConnectionString=mongodb://admin:1234@product-db-1:27017
            - ProductDatabase__DatabaseName=wksy
            - PATH_BASE=/product-api
        ports:
            - "5110:80"

    product-api-1:
        environment:
            - ASPNETCORE_ENVIRONMENT=Development
            - ASPNETCORE_HTTP_PORTS=8080
            - Kestrel__Endpoints__HTTP__Url=http://0.0.0.0:80
            - Kestrel__Endpoints__gRPC__Url=http://0.0.0.0:81
            - ProductDatabase__ConnectionString=mongodb://admin:1234@product-db-1:27017
            - ProductDatabase__DatabaseName=product
            - PATH_BASE=/product-api
        ports:
            - "5103:80"

    product-db-1:
        environment:
            - MONGO_INITDB_ROOT_USERNAME=admin
            - MONGO_INITDB_ROOT_PASSWORD=1234
        healthcheck:
            test: echo 'db.runCommand("ping").ok' || mongosh admin -u admin -p 1234 --quiet | grep 1
            interval: 10s
            retries: 5
            start_period: 20s
        volumes:
            - /d/Dataset/extract/json/:/data/json/
        ports:
            - 27017:27017

    product-api-2:
        environment:
            - ASPNETCORE_ENVIRONMENT=Development
            - ASPNETCORE_HTTP_PORTS=8080
            - Kestrel__Endpoints__HTTP__Url=http://0.0.0.0:80
            - Kestrel__Endpoints__gRPC__Url=http://0.0.0.0:81
            - ProductDatabase__ConnectionString=mongodb://admin:1234@product-db-2:27017
            - ProductDatabase__DatabaseName=product
            - PATH_BASE=/product-api
        ports:
            - "5104:80"

    product-db-2:
        environment:
            - MONGO_INITDB_ROOT_USERNAME=admin
            - MONGO_INITDB_ROOT_PASSWORD=1234
        healthcheck:
            test: echo 'db.runCommand("ping").ok' || mongosh admin -u admin -p 1234 --quiet | grep 1
            interval: 10s
            retries: 5
            start_period: 20s
        volumes:
            - /d/Dataset/extract/json/:/data/json/
        ports:
            - 27018:27017

    product-api-3:
        environment:
            - ASPNETCORE_ENVIRONMENT=Development
            - ASPNETCORE_HTTP_PORTS=8080
            - Kestrel__Endpoints__HTTP__Url=http://0.0.0.0:80
            - Kestrel__Endpoints__gRPC__Url=http://0.0.0.0:81
            - ProductDatabase__ConnectionString=mongodb://admin:1234@product-db-3:27017
            - ProductDatabase__DatabaseName=product
            - PATH_BASE=/product-api
        ports:
            - "5105:80"

    product-db-3:
        environment:
            - MONGO_INITDB_ROOT_USERNAME=admin
            - MONGO_INITDB_ROOT_PASSWORD=1234
        healthcheck:
            test: echo 'db.runCommand("ping").ok' || mongosh admin -u admin -p 1234 --quiet | grep 1
            interval: 10s
            retries: 5
            start_period: 20s
        volumes:
            - /d/Dataset/extract/json/:/data/json/
        ports:
            - 27019:27017
    
    ##########################################
    ## Monitoring
    ##########################################
    fluent-bit:
        environment:
            # - FLB_ES_HOST=elasticsearch
            # - FLB_ES_PORT=9200
            - LOKI_HOST=loki
            - LOKI_PORT=3100
        volumes:
            - ./fluent-bit:/fluent-bit/etc
        ports:
            - 24224:24224

    ## Fluent bit - Elasticsearch, Kibana
    # elasticsearch:
    #     mem_limit: 2g
    #     environment:
    #         - discovery.type=single-node
    #     ports:
    #         - 9200:9200
    #         - 9300:9300

    # kibana:
    #     environment:
    #         - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    #     ports:
    #         - 5601:5601
    
    # Fluent bit - Loki, Grafana
    loki:
        volumes:
            - ./loki:/etc/loki
        command: "-config.file=/etc/loki/local-config.yaml"
        ports:
            - 3100:3100

    grafana:
        environment:
              - GF_SECURITY_ADMIN_USER=admin
              - GF_SECURITY_ADMIN_PASSWORD=1234
        volumes:
            - ./grafana/provisioning/:/etc/grafana/provisioning/
        ports:
            - 3000:3000

    # Observer
    prometheus:
        volumes:
            - ./prometheus:/etc/prometheus
        command:
            - '--config.file=/etc/prometheus/prometheus.yml'
            - '--storage.tsdb.path=/prometheus'
            - '--web.console.libraries=/etc/prometheus/console_libraries'
            - '--web.console.templates=/etc/prometheus/consoles'
            - '--storage.tsdb.retention.time=200h'
            - '--web.enable-lifecycle'
        expose:
            - 9090

    nodeexporter:
        user: root
        privileged: true
        volumes:
            - /proc:/host/proc:ro
            - /sys:/host/sys:ro
            - /:/rootfs:ro
        command:
            - '--path.procfs=/host/proc'
            - '--path.rootfs=/rootfs'
            - '--path.sysfs=/host/sys'
            - '--collector.filesystem.ignored-mount-points=^/(sys|proc|dev|host|etc)($$|/)'
        expose:
            - 9100

    cadvisor:
        volumes:
            - /:/rootfs:ro
            - /var/run:/var/run:rw
            - /sys:/sys:ro
            - /var/lib/docker:/var/lib/docker:ro
            - /dev/disk/:/dev/disk:ro
            #- /cgroup:/cgroup:ro #doesn't work on MacOS only for Linux
        expose:
            - 8080

    pushgateway:
        expose:
            - 9091

    # alertmanager:
    #     volumes:
    #         - ./alertmanager:/etc/alertmanager
    #     command:
    #         - '--config.file=/etc/alertmanager/config.yml'
    #         - '--storage.path=/alertmanager'
    #     expose:
    #         - 9093

    # caddy:
    #     ports:
    #         - "3000:3000"
    #         - "8080:8080"
    #         - "9090:9090"
    #         - "9093:9093"
    #         - "9091:9091"
    #     volumes:
    #         - ./caddy:/etc/caddy
    #     environment:
    #         - ADMIN_USER=${ADMIN_USER:-admin}
    #         - ADMIN_PASSWORD=${ADMIN_PASSWORD:-admin}
    #         - ADMIN_PASSWORD_HASH=${ADMIN_PASSWORD_HASH:-$2a$14$1l.IozJx7xQRVmlkEQ32OeEEfP5mRxTpbDTCTcXRqn19gXD8YK1pO}